
<table>
    <thead>
        <tr>
            <th colspan="2">Cat Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @cat.birth_date %></td>
            <td><%= @cat.color %></td>
            <td><%= @cat.name %></td>
            <td><%= @cat.sex %></td>
            <td><%= @cat.description %></td>
        </tr>
    </tbody>
</table>